.congeCard
    margin-top 15px
    margin-bottom 15px
    background-color white
    border-radius 8px
    box-shadow none

.congeSwitch
    padding-left 10px
    padding-left 10px
    margin-top 10px

.congeBtnSend
    padding 5px 20px !important
    position absolute
    left 0px
    bottom 0px
    font-family 'WorkSans-Regular'
    font-size 13px
    font-weight 700
    font-style normal
    font-stretch normal
    letter-spacing normal
    width 130px
    text-transform initial

.congeBtnCancel
    padding 5px 20px !important
    position absolute
    right 0px
    bottom 0px
    border solid 1px #006cc2
    color #006cc2 !important
    font-family 'WorkSans-Regular'
    font-size 13px
    font-weight 300
    font-style normal
    font-stretch normal
    letter-spacing normal
    width 130px
    box-shadow none
    text-transform initial

.congerCardContainer
    padding-left 0px
    padding-right 0px
    padding-bottom 0px

.congerCardContainer > div
    box-shadow none

.q-table th, .q-table td
    padding 0px !important

.filterWidth > div:nth-child(1) > div:nth-child(3)
    width 63% !important
    @media screen and (max-width: 1160px)
        width 100% !important

.filterContainer
    width 100%

.filterContainer > div
    padding-left 10px
    padding-right 10px
    @media screen and (max-width: 1165px)
        margin-bottom 20px

.searchFilter
    max-width 180px
    @media screen and (max-width: 765px)
        max-width 100%
        width 100%
        margin 0px 10px 0px 10px

.searchFilter > i:nth-child(2)
    display none

.filterContainer > div > div
    padding-top 0px !important

.searchContainer
    position absolute
    right 0px
    width 12% !important
    padding 0px 10px 0px 0px !important

.tableFooterBtn
    position absolute
    margin 14px
    @media screen and (max-width: 500px)
        bottom 0px

.filterWidth th:nth-child(1)
    width 35px

.filterWidth td:nth-child(1)
    width 35px
    text-align center

.ellipseText
    max-width 65px !important
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin auto

.ellipseDescription
    max-width 120px !important
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin auto

.buttonTable
    padding 5px 7px !important
    font-size 10px

.congeListe
    height auto
    background-color #f2f2f2

.congeListContainer
    margin auto
    height auto !important
    min-height 65vh !important
    margin-top 10vh
    margin-bottom 5vh
    max-width 95%
    min-width 75%
    @media screen and (max-width: 400px)
        padding-left 5px
        padding-right 5px
    @media screen and (max-width: 1165px)
        padding-left 10px
        padding-right 10px

.congerCardContainer .q-table-title
    font-family 'WorkSans-Bold'
    font-size 22px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height 1.63
    letter-spacing normal
    text-align left
    color #242424
    @media screen and (max-width: 700px)
        font-size 18px

.filterContainer
    font-family 'WorkSans-Regular'
    font-weight 300
    font-style normal
    font-stretch normal
    line-height 1.67
    letter-spacing normal
    text-align center
    color #858585

.filterContainer .q-input-target, .filterContainer .q-if-label-inner
    font-size 14px

.q-table tbody td
    @media screen and (max-width: 767px)
        height 35px

.filterSpaceArea
    @media screen and (max-width: 770px)
        display none !important

.filterWidth > div:nth-child(2) > table
    color #242424
    font-family 'WorkSans-Regular'

.filterWidth > div:nth-child(3) > div:nth-child(1)
    display none

.tableFooterBtn > span
    margin-left 10px
    font-size 13px

.q-table-bottom
    @media screen and (max-width: 500px)
        height 77px
        align-items start

.filterWidth > .q-table-bottom > div:nth-child(4) i
    color #006CC2

.congeCreate
    background-color #f2f2f2

.congeCreateContainer
    margin auto
    height auto !important
    min-height 65vh !important
    margin-top 10vh
    margin-bottom 5vh
    overflow-x auto
    @media screen and (max-width: 400px)
        margin-top 0px
        padding-left 5px
        padding-right 5px
    @media screen and (max-width: 1165px)
        padding-left 10px
        padding-right 10px

.congeCreateCard > div > div
    box-shadow none

.congeCreateCard
    margin-top 15px
    margin-bottom 5vh
    background-color white
    border-radius 8px
    box-shadow none
    overflow-y auto
    max-height 400px

.congeCreateTable 
    margin-top 15px

.congeCreateTable > div > table > tbody > tr:nth-last-child(1) > td
    border-bottom none

.congeCreateCard > div:nth-child(1) > div
    position relative

.congeCreateCard > div:nth-child(1) > div > .q-card-title
    font-family 'WorkSans-Regular'
    font-size 14px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height 1.64
    letter-spacing normal
    text-align left
    color #242424
    position absolute
    left 0px
    width 100%


.congeCreateCard > div:nth-child(1) > div > .q-card-title:before 
    content ''
    position absolute
    bottom 50%
    border-bottom 1px #242424 solid
    z-index 0
    left 272px
    width -webkit-calc(100% - 272px)
    width -moz-calc(100% - 272px)
    width calc(100% - 272px)

.HolidayCard
    width 100%
    background-color white
    border-radius 5px
    box-shadow none
    padding-top 25px

.HolidayCardContainer
    position relative

.holidaysTitle
    font-family 'WorkSans-bold' !important
    font-size 22px !important
    font-weight bold !important
    font-style normal
    font-stretch normal
    line-height 1.64
    letter-spacing normal
    text-align left
    color #242424
    position absolute
    left 0px
    width 100%
    padding-left 25px
    padding-right 25px


.holidaysTitle:before 
    content ''
    position absolute
    bottom 50%
    border-bottom 1px #242424 solid
    z-index 0
    left 170px
    width -webkit-calc(100% - 195px)
    width -moz-calc(100% - 195px)
    width calc(100% - 195px)

.holidayCardCintainer
    margin-top 25px

.congeCreateTable > div > table > thead > tr > th
    font-family 'WorkSans-Regular'
    font-size 14px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.19
    letter-spacing normal
    text-align left
    color #242424
    text-align left
    font-weight 600
    border-bottom 1px solid #242424

.congeCreateTable > div > table > tbody > tr > td
    font-family 'WorkSans-Regular'
    font-size 13px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.17
    letter-spacing normal
    text-align left
    color #242424
    text-align left

.congeCardCreateB > div > div > .q-card-title:before 
    content ''
    position absolute
    bottom 50%
    border-bottom 1px #242424 solid
    z-index 0
    left 165px
    width -webkit-calc(100% - 165px)
    width -moz-calc(100% - 165px)
    width calc(100% - 165px)

.congeCardCreateB > div > div
    position relative

.congeCardCreateB > div > div > .q-card-title
    font-family 'WorkSans-Regular'
    font-size 16px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height 1.64
    letter-spacing normal
    text-align left
    color #242424
    left 0px
    width 100%

.congeCardCreateB
    margin-top 15px
    background-color white
    border-radius 8px
    box-shadow none

.congeSwitch > .active > .q-toggle-base
    color #fbd46b !important

.congeSwitch > div > .q-toggle-base
    height 22px
    border-radius 15px
    color #84d1f9
    opacity 1
    width 43px

.congeSwitch > div > .q-toggle-handle
    margin 7px 3px
    height 18px
    width 18px
    font-size 14px
    background-color white !important

.congeSwitch > div > .q-toggle-handle > i
    color #84d1f9 !important

.congeSwitch > .active > .q-toggle-handle > i
    color #fbd46b !important

.congeSwitchEnd > div > .q-toggle-handle > i
    color #fbd46b !important

.congeSwitchEnd > .active > .q-toggle-handle > i
    color #001165 !important

.congeSwitchEnd > .active > .q-toggle-base
    color #001165 !important

.congeSwitchEnd > div > .q-toggle-base
    color #fbd46b !important

.congeDatePicker
    font-family 'WorkSans-Regular'
    font-size 15px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.2
    letter-spacing normal
    text-align left

.congeDatePicker > div > div > div
    color #949292

.congeCreateList
    list-style-type none
    padding-left 25px
    font-family 'WorkSans-Regular'
    font-size 14px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.64
    letter-spacing normal
    text-align left
    color #242424

.congeCreateListIcon
    width 17.5px
    height 17.5px
    object-fit contain
    font-size 16px

.congeCreateList > li > span 
    margin-right 7px

.congeCardCreateB > div:last-child > div
    padding-bottom 25px

.TableIcon
    font-size 15px

.tableIconWait
    color #EFA96E

.tableIconValide
    color #87D681

.tableIconRefuse
    color #F97373

.tableIconCancel
    color #A66BAB

.modelOneFilterField
    @media screen and (min-width: 580px) and (max-width: 1165px)
        position absolute
        right 0px
        top 15px

.congeCanceled
    background-color #f97373

.congerejected
    background-color #f97373

.congeTreated
    background-color transparent

.congeValidated
    background-color #358cd1

.congeTreated
    color #8EE1E3
    font-size 25px

.actionBtnsContainer
    display inline-block
    margin-left 5px
    margin-right 5px

.actionBtnsContainer > button > div > i
    font-size 13px !important

.actionBtnsContainer > button
    color white
    padding 5px 8px !important
    border-radius 2px
    box-shadow none

.q-table .q-checkbox > .active > .absolute-full
    color #358cd1

.tableIconNotPaid
    color #2982DB 

.tableIconPaid
    color #4ECC6B 

.tableIconNotPaid
    color #2982DB 

.tableIcontoRegulize
    color #FFA87B 

.tableIconRegulized
    background-color #FF6868 
    color #FF6868 

.regulariserConge
    background-color #FF6868
    color #FF6868

.aRegulariserConge
    background-color #ffa87b
    color #ffa87b

.payConge
    background-color #59c451
    color #59c451

.toregulizeDialogBox
    background-color #fff
    height 50%
    width 50%
    position fixed
    z-index 10000
    margin-top 10%
    margin-left 25%

.footerActionPay > .payPeriode
    width 100%
    border-radius inherit
    font-family 'WorkSans-Regular'
    text-transform initial
    font-size 14.5px

.footerActionPay
    bottom 0px
    position absolute
    text-align right
    width 100%

.managerValidConge
    background-color #fff
    height 40%
    width 45%
    position fixed
    z-index 10000
    margin-top 10%
    margin-left 27.5%
    border-radius 10px
    min-height 350px

.historyDemandeDialogBox
    background-color #fff
    height auto
    width 90%
    position fixed
    z-index 10000
    margin-top 5%
    margin-left 5%
    max-height 85%
    
.toregulizeDialogBox > .dialogContainer
    max-width 65%
    margin auto
    height 350px

.managerValidConge > .dialogContainer
    max-width 65%
    margin auto
    margin-top 25px
    height 350px

.numberInput
    width 100%
    margin-top 10px

.dialogContainer > div
    height auto

.dialogContainer
    height 100%

.popUpTextArea
    display block
    width 100%
    white-space pre
    margin auto
    max-height 200px
    margin-top 10px
    margin-left 0px

.footerAction
    bottom 0px
    height 50px
    position absolute
    width 94%
    text-align right
    margin-left 20px

.managerValidConge > .footerAction
    bottom 0px
    height 50px
    position absolute
    text-align center

.managerValidConge > .footerAction > .managervalidationbtn
    width 65%
    font-family 'WorkSans-Regular'
    text-transform initial
    font-size 14.5px

.managerValidConge h4
    font-family 'WorkSans-Bold'
    font-size 21px
    margin 20px 0px 15px 0px

.managerValidConge p
    margin 0px
    font-family 'WorkSans-Regular'
    line-height 20px
    font-size 15px

.managerValidConge img
    width auto
    max-height 135px


.CloseBtnPopUp
    margin-left 10px
    border 1px solid $primary

.link
    cursor pointer
    color #00b4ef
    text-decoration underline
    
.dialogHeader
    padding 25px 25px

.dialogHeader > p
    margin-bottom 0px
    font-family 'WorkSans-Regular'
    font-size 17px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height 1.64
    letter-spacing normal
    text-align left
    color #242424
    position absolute
    left 0px
    width 100%
    padding-left 25px
    padding-right 25px

.dialogHeader > p:before 
    content ''
    position absolute
    bottom 50%
    border-bottom 1px #242424 solid
    z-index 0
    left 247px
    width -webkit-calc(100% - 284px)
    width -moz-calc(100% - 284px)
    width calc(100% - 284px)

.historyDemandeDialogBox > .dialogContainer
    max-width 99%
    margin auto
    margin-top 20px
    height 90%
    overflow auto
    max-height 20%

.congeHistoryTop
    background-color #c8e7ff
    margin-left 15px
    margin-right 15px

.congeHistoryTop > div > table > thead > tr > th
    font-weight 900
    color #356CD1

.clearfilter
    margin-top 7px
    font-size 17px
    font-weight 100
    cursor pointer
    color #356CD1
    position absolute

.clearFilterContainer
    text-align left

.permisionMessage
    margin-top 30px
    height 45px

.congeCodes
    padding 1px 35px 16px

.congeCodes > div > table > thead > tr > th
    font-family 'WorkSans-Bold'
    color #242424
    text-align center
    font-size 18px

.congeCodes > div > table > tbody > tr > td
    border-bottom none

.codeCongeInput
    width 134.3px
    height 33px
    border-radius 3px
    background-color #ebebeb
    margin auto

.codeCongeInputP
    width 134.3px
    height 33px
    border-radius 3px
    background-color #ebebeb
    margin auto
    text-align center
    font-family 'WorkSans-Regular'
    font-size 17px
    color #358cd1
    font-weight 600
    padding-top 4px

.codeCongeInput > div > div > input
    text-align center
    font-family 'WorkSans-Regular'
    font-size 17px
    color #358cd1
    font-weight 600

.codeCongeInput:before
    border-bottom none

.codeCongeValue
    max-width 160px
    padding-left 5px
    text-align left
    font-family 'WorkSans-Regular'
    font-size 16px
    margin auto

.codeCongeValue:before
    color #949292

.codeCongeValue > div > div > input
    color #949292

.saveBtn
    color white
    padding 5px 8px !important
    border-radius 2px
    box-shadow none
    background-color #358cd1
    margin-right 10px

.deleteBtn
    color white
    padding 5px 8px !important
    border-radius 2px
    box-shadow none
    background-color #ff6868

.addCodeHolidayAction
    width 80%
    margin-left 10%
    margin-bottom 16px
    background-color #358cd1
    color white
    font-family 'WorkSans-Regular'
    font-weight 600
    text-transform initial
    font-size 17px

.holidayTitle
    width 175px
    height 33px
    border-radius 3px
    background-color #ebebeb
    margin auto

.holidayTitleP
    width 175px
    height 33px
    border-radius 3px
    background-color #ebebeb
    margin auto
    text-align center
    font-family 'WorkSans-Regular'
    font-size 17px
    color #358cd1
    font-weight 600
    padding-top 4px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

.holidayTitle > div > div > input
    text-align center
    font-family 'WorkSans-Regular'
    font-size 17px
    color #358cd1
    font-weight 600

.holidayTitle:before
    border-bottom none

.holidayDate
    width 175px
    height 33px
    border-radius 3px
    margin auto
    padding-left 5px

.HolidayDaysNB
    width 175px
    height 33px
    border-radius 3px
    margin auto
    padding-left 5px

.HolidayDaysNB > div > div > input
    text-align left
    font-family 'WorkSans-Regular'
    font-size 17px
    color #358cd1
    font-weight 600

.blockCollab
    background-color #ff6868

.UnblockCollab
    background-color #87d681

.searchIcon
    position absolute
    left 0px
    font-size 18px
    margin-top 3px
    z-index 100
    cursor pointer

.payPeriodeFieldsCont
    padding-left 15%
    padding-right 15%
    height 100% !important

.q-popover
    z-index 10000

.payPeriodeFieldsTitle > p
    font-family 'WorkSans-Regular'
    font-size 21px
    font-weight bold
    font-style normal
    font-stretch normal
    line-height 1.64
    letter-spacing normal
    text-align left
    color #006cc2
    position absolute
    left 0px
    width 100%
    margin 10px 20px

.payPeriodeFieldsTitle > p:before 
    content ''
    position absolute
    bottom 50%
    border-bottom 1px gray solid
    z-index 0
    left 169px
    width -webkit-calc(100% - 210px)
    width -moz-calc(100% - 210px)
    width calc(100% - 210px)

.payPeriodeSelectCont
    height 100%
    display flex
    align-items center
    justify-content center

.payPeriodeSelectCont > .selectPeriode
    width 60%
    margin auto

.payPeriodeBtn 
    font-family 'WorkSans-Regular'
    font-weight 600
    height 38px
    border-radius 2px
    background-color #006cc2
    text-transform initial
    font-size 14px
    width 200px
    display initial !important

.payPeriodeBtnHidden
    background-color transparent
    box-shadow initial

.payPeriodeBtnHidden:hover
    background-color transparent !important
    cursor initial !important

.exportBtn
    font-family 'WorkSans-Regular'
    font-weight 600
    height 38px
    border-radius 2px
    background-color #006cc2
    text-transform initial
    font-size 14px
    float right
    z-index 100000

.colabasCreateSelect
    margin-bottom 10px

.callenderDesign
    width 100%
    margin-bottom 15px

.callenderDesign > div:nth-child(1)
    width 40%
    display inline-block
    text-align center
    height 30px
    background-color #00b4ef
    border-radius 4px 0px 0px 4px
    color white
    font-family 'WorkSans-Regular'
    font-size 16px
    padding-top 5px

.callenderDesign > div:nth-child(2)
    width 45%
    display inline-block
    text-align center
    height 30px
    background-color #f5f5f5
    border-radius 0px 4px 4px 0
    color #484848
    font-family 'WorkSans-Regular'
    font-size 16px
    padding-top 5px

.congeSansSuite
    background-color #5a5a5a

.congeAnterieur
    background-color #1e87da

.payPeriodeLabel
    height 38px
    border-radius 2px
    border solid 2px #006cc2
    background-color #ffffff
    font-family 'WorkSans-Regular'
    font-size 15px
    font-weight 600
    color #006cc2
    display inline-block
    width 160px
    margin 0px
    text-align center
    padding-top 6.2px
    text-transform capitalize
    margin-bottom -15px

td~.lignBackgrount, .lignBackgrount~td
    background-color rgba(255, 168, 168, 0.35) !important

.payPOPFieldCont
    width 80%
    margin auto
    margin-top 20px
    font-family 'WorkSans-Regular'
    font-size 15px

.filteDataTableSelect
    z-index 1000 !important

.cursorStyle
    cursor pointer