body,html{height:100%;}

.loginbgstyle 
    background-color #F2F2F2

.loginfooter
    box-shadow none
    padding 0px 20px 4%
    @media screen and (max-height: 630px) and (min-width: 501px)
        height 17%
    @media screen and (max-height: 630px) and (max-width: 500px)
        height 11%

.loginfooter > div > a > img
    max-width 170px
    @media screen and (max-width: 500px)
        max-width 100px

.loginSlide
    @media screen and (max-width: 767px)
        display none

.loginSlide > .newsPicture
    border-radius 10px 0 0 10px
    height 100%
    height 90%
    background-size cover
    background-position left
    padding 30px
    min-height 450px

.loginForm
    background-color #fff
    border-radius 0 10px 10px 0
    height 90%
    text-align center
    min-height 450px
    @media screen and (max-width: 767px)
        border-radius 10px

.messageLoginSuccess
    position fixed
    background-color #024772
    color #d1d1d1
    height 100%
    width 100%
    top 0
    right 0
    margin 0
    z-index 200000

.messageLoginSuccess > div
    text-align center

.messageLoginSuccess > div > h2
    margin-bottom 0px
    letter-spacing 3px
    font-weight 500
    border-bottom 1px solid #d0d0d0
    font-family 'Crimson-Roman'
    font-size 75px
    @media screen and (max-width: 768px)
        font-size 30px

.messageLoginSuccess > div > h2 > b
    font-family 'Crimson-Semibold'
    font-size 90px
    text-transform uppercase
    font-weight 500
    @media screen and (max-width: 768px)
        font-size 45px

.messageLoginSuccess > div > h4
    margin-top 8px
    letter-spacing 2px
    font-weight 300
    padding-left 30px
    padding-right 30px
    padding 15px
    font-family 'Crimson-Roman'
    font-size 40px
    @media screen and (max-width: 768px)
        font-size 25px

.messageLoginSuccess > div > h4 > b
    font-weight 500
    font-family 'Crimson-Roman'

.loginBlocks
    height 75% !important

.loginContainer
    position fixed
    top 0
    right 0
    width 100%
    height 100%
    @media screen and (max-height: 630px)
        overflow-y scroll
        position absolute
        height 90%

.img-responsive
    width 100%
    height auto

.newsPicture > div > h4
    margin-top 0px
    margin-bottom 15px

.newsPicture > div > p
    margin-top 0px
    margin-bottom 15px
    font-weight 200

.loginForm > div > h4
    padding-bottom 5px
    border-bottom 1px solid
    display inline-block
    margin-top 0
    color $primary
    font-weight 700
    letter-spacing 2px
    font-family 'WorkSans-Regular'

.loginForm > div
    max-width 70%
    margin auto

.loginForm > div > p > b
    font-size 18px
    font-family 'WorkSans-Regular'

.loginForm > div > p
    font-size 19px
    color $primary
    letter-spacing 2px
    font-weight 300
    font-family 'WorkSans-Light'

.lgform
    margin-top 15%
    letter-spacing 1px
    @media screen and (max-width: 700px)
        padding-left 15px
        padding-right 15px

.fieldlg
    margin-bottom 7%
    color #024772

.btnlg
    margin-top 15%
    width 100%
    max-width 2700px
    letter-spacing 1px
    background-color $primary
    color white
    font-weight 700

.maincontainer
    @media screen and (max-height: 620px)
        min-height 650px
