
.helpTitle
    font-family 'WorkSans-Light'
    font-size 100px
    font-weight 100
    font-style normal
    font-stretch normal
    line-height 1.65
    letter-spacing normal
    text-align center
    color #ffffff
    @media screen and (max-width: 1550px)
        font-size 60px

.helpTitle > b 
    font-family 'WorkSans-Regular'
    font-weight 600

.helpContainer
    background-image url('/statics/BG-help.jpg')
    background-color #f2f2f2
    height auto
    background-repeat no-repeat
    background-size contain

.HelpContainer
    background-color white
    border-radius 8px
    padding 3% 7%

.HelpQuestionTitle
    font-family 'WorkSans-Bold'
    font-size 38px
    font-weight 100
    font-style normal
    font-stretch normal
    line-height 1.64
    letter-spacing 2.5px
    text-align center
    color #515151
    margin-top 10px
    margin-bottom 50px
    @media screen and (max-width: 1550px)
        font-size 32px

.QASection .q-item-label
    font-family 'WorkSans-Regular'
    font-size 22px
    font-weight 600
    font-style normal
    font-stretch normal
    line-height 1.17
    letter-spacing normal
    color #1e87da
    @media screen and (max-width: 1550px)
        font-size 20px

.QASection .q-collapsible-inner
    border-bottom 2px solid #707070
    margin-bottom 20px
    padding-bottom 12px

.QASection .q-item-side-right > i
    color #858585

.answerHelp
    font-family 'WorkSans-Regular'
    font-size 18px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.19
    letter-spacing normal
    text-align left
    color #242424
    @media screen and (max-width: 1550px)
        font-size 16px

.videoThumbnail
    height 25vh
    background-repeat no-repeat
    background-size cover
    border-radius 8px
    margin-left 18px
    margin-right 18px
    margin-bottom 20px
    cursor pointer


.videoThumbContainer
    transition all .5s ease-in-out
    max-height 250px
    margin-left -18px
    margin-right -18px
    margin-top 55px
    overflow-y hidden

.popUpTitle
    font-family 'WorkSans-Bold'
    font-weight 100
    font-size 30px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.17
    letter-spacing normal
    color #006cc2
    margin 0px
    @media screen and (max-width: 1550px)
        font-size 25px

.videoThumbnail > div > h5
    font-family 'WorkSans-Bold'
    font-weight 100
    font-size 30px
    font-weight normal
    font-style normal
    font-stretch normal
    line-height 1.17
    letter-spacing normal
    text-align center
    color #ffffff
    display none
    padding-left 15px
    padding-right 15px
    margin 0px
    animation fadeIn ease 0.5s
    @media screen and (max-width: 1550px)
        font-size 25px

.videoThumbnail:hover > div > h5
    display block

.videoThumbnail > div
    height 100%
    border-radius 8px

.videoThumbnail:hover > div
    background-color rgba(0, 108, 194, 0.6)
    animation fadeIn ease 0.5s

.seeBtnHelp
    margin-top 20px

.allHeightVideo
    max-height 1000px

.allHeightVideo > div
    height auto !important 

.videoThumbContainer > div:nth-child(4n)
    height 0px

.videoIframe
    width 100%
    @media screen and (max-width: 1550px)
        max-height 500px

.hideBlock
    display none