.headertabs > .q-tabs-head
    background-color white !important
    height 70px

.tablink > .q-tab-label-parent > .q-tab-label
    font-family 'WorkSans-Regular'
    font-size 16px
    font-weight 500
    font-style normal
    font-stretch normal
    line-height 1.2
    letter-spacing normal
    text-align center
    color #242424
    text-transform none
    word-wrap break-word
    overflow hidden
    width 100%
    height 100%

.tablink.q-router-link-exact-active > .q-tab-label-parent > .q-tab-label
    font-weight 600 !important
    font-family 'WorkSans-Bold'
    color #006cc2

.tablink
    width 100%
    height 100%
    padding 0px
    border-bottom 2px solid #D8D8D8

.tablink.q-router-link-exact-active
    border-bottom 2px solid #006cc2

.tablink > .q-tab-label-parent
    width 100%
    height 100%
    padding 15px 0px 0px 0px

.absenceCardCreateB > div > div > .q-card-title
    font-size 18px

.absenceCardCreateB > div > div > .q-card-title:before
    left 320px !important
    width calc(100% - 320px) !important

.absenceCardCreateNotPaid > div > div > .q-card-title:before
    left 360px !important
    width calc(100% - 360px) !important

.absenceCardCreateM > div > div > .q-card-title
    font-size 18px

.absenceCardCreateM > div > div > .q-card-title:before
    left 240px !important
    width calc(100% - 240px) !important

.absenceCardCreateMcc > div > div > .q-card-title
    font-size 18px

.absenceCardCreateMcc > div > div > .q-card-title:before
    left 300px !important
    width calc(100% - 300px) !important

.absenceCardCreateAC > div > div > .q-card-title
    font-size 18px

.absenceCardCreateAC > div > div > .q-card-title:before
    left 265px !important
    width calc(100% - 265px) !important

.absenceCardCreateACcc > div > div > .q-card-title
    font-size 18px

.absenceCardCreateACcc > div > div > .q-card-title:before
    left 455px !important
    width calc(100% - 455px) !important

.absenceCardCreateS > div > div > .q-card-title
    font-size 18px

.absenceCardCreateS > div > div > .q-card-title:before
    left 255px !important
    width calc(100% - 255px) !important

.absenceCardCreateScc > div > div > .q-card-title
    font-size 18px

.absenceCardCreateScc > div > div > .q-card-title:before
    left 280px !important
    width calc(100% - 280px) !important

.absencecontainer
    background-color white

.marginsmall
    padding-top 15px

.marginsmedium
    padding-top 25px

.notpaid
    color #a66bab

.specialabs
    color #ffc036

.maladieabs
    color #56b94b

.atabs
    color #f84247

.maternityabs
    color #00b4ef

.deleteabs
    background-color #f97373

.subtypewidthlimitation > .q-if-inner.col.column.q-popup--skip
    overflow hidden

.absenceCardContainer .selectAvatar
    width 15px !important
    padding-top 3px
    height auto

.selectCongeState .q-input-target
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 116px;

.colabasCreateSelect > div
    border none !important
    border-bottom 1px solid #000 !important
    border-radius 0px !important

.contactrhtoaddabsence
    font-family 'WorkSans-Regular'
    font-size 20px
    font-weight 600
    text-align center
    color #006cc2

.contactrhtoaddabsencecont
    padding 25px 0
    margin 20px auto
    border-radius 10px
    background-color #f8f8f8
    width 80%
    height 80px

.traitementperiodebtn
    width 220px !important

.demnadeConge
    background-color #358cd1

.demaneNR
    background-color #a66bab

.congeTraited
    background-color #358cd1

.traitementPeriodeFieldsTitle > p:before 
    left 230px !important
    width -webkit-calc(100% - 260px) !important
    width -moz-calc(100% - 260px) !important
    width calc(100% - 260px) !important

.disabledlink
    pointer-events none
    opacity 0.5

.deleteAbsence
    background-color #f97373